[user]
	email = shantanu@render.com
	name = Shantanu
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/shantanu/.gitignore_global
  editor = nvim
[alias]
	st = status
	co = checkout
	ci = commit -m 
	ca = commit --amend -m 
	last = log -1 HEAD
	merge = merge --no-ff 
[pager]
	branch = false
#[url "git@github.com:"]
#	insteadOf = https://github.com/
